<template>
    <div id="notfound">
        <b-container>
            <b-card>
                <h1>OUPS ! Le lien que vous cherchez n'existe pas :/</h1>
            </b-card>

        </b-container>



    </div>

</template>

<script>

    export default {
        name: 'notfound',
        data(){
            return {

            }
        },
        mounted(){

        },
        methods:{

        },
    }

</script>